<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>UnipdBot</h1>
<hr />
<a href="https://m.me/unipdbot" class="btn btn-default" id="fb-bot" target="_blank">UnipdBot on Facebook</a>
<div class="pull-right">
<a href="https://telegram.me/unipdbot" class="btn btn-default" id="tg-bot" target="_blank">UnipdBot on Telegram</a></div>
  <hr />
<p>Just a simple bot that you can use to get some data about the University of Padua!</p>
<p>Stay updated by following the bot's <a href="https://fb.com/unipdbot" target="_blank">Facebook page!</a></p>

<p>Privacy policy: <a href="https://www.iubenda.com/privacy-policy/7846357">here.</a></p>
<hr />
<h3 align="center">Want to help?</h4>
<p>Help is very much appreciated! </p>

<p>GitHub links: </p>
<ul>
<li><p><a href="https://github.com/mikexine/fb-unipdbot" target="_blank">UnipdBot (Facebook) on GitHub</a>.</p></li>
<li><p><a href="https://github.com/mikexine/unipdbot" target="_blank">UnipdBot (Telegram) on GitHub</a>.</p></li>
</ul>




<hr />


<h4 align="center">Related projects:</h3>
<li><p><a href="https://uniopen.org" target="_blank">UniOpen.org</a></p></li>


<hr />
<br />

{% endblock %}